  <div class="container-fluid">
    <header>
      <!-- Quick Look to Figures of cryptocurrencies, markets, market cap, 24h vol and btc dominance-->
      <div class="row quicklook">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          Cryptocurrencies: <a [routerLink]="['cryptocurrencylist']">{{globalList.data.active_cryptocurrencies}}</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1">
          Markets: <a [routerLink]="['cryptocurrencylist']"> {{globalList.data.markets}} </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
          Market Cap: <a [routerLink]="['cryptocurrencylist']"> ${{globalList.data.total_market_cap.usd | number :
            '4.2-2'}} </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          24h Vol: <a [routerLink]="['cryptocurrencylist']"> ${{globalList.data.total_volume.usd | number : '4.2-2' }}
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sm-2">
          BTC Dominance: <a [routerLink]="['detail/bitcoin']"> {{ globalList.data.market_cap_percentage.btc | number :
            '1.2-2' }}% </a>
        </div>
      </div>

      <!-- Navigation Bar -->
      <div class="row row_border">
        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 col-10">
          <nav class="navbar navbar-expand-sm">
            <h2><a class="navbar-brand" [routerLink]="['']">CryptoMarketCap</a></h2>

            <ul class="navbar-nav">
              <li class="nav-item navlist">
                <a class="nav-link" [routerLink]="['/cryptocurrencylist']">  CryptoCurrencies  </a>
              </li>
              <li class="nav-item navlist">
                <a class="nav-link" [routerLink]="['/favorite']">  Favorites  </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-2 col-lg-1 col-md-1 col-sm-2 col-xs-2">
          <div class="currencybutton">
            <button class="btn btn-primary currencybackground" style="float: right">USD</button>
          </div>
        </div>
      </div>
    </header>

    <router-outlet></router-outlet>
  </div>